-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('DISPATCHER', 'ADMIN', 'DIRECTOR', 'OWNER', 'MASTER');

-- CreateEnum
CREATE TYPE "UserStatus" AS ENUM ('ACTIVE', 'FIRED');

-- CreateEnum
CREATE TYPE "OrderType" AS ENUM ('NEW', 'WARRANTY', 'REPEAT');

-- CreateEnum
CREATE TYPE "SourceKind" AS ENUM ('OUR', 'PARTNER');

-- CreateEnum
CREATE TYPE "SourceOur" AS ENUM ('AVITO', 'LEAFLET');

-- CreateEnum
CREATE TYPE "OrderStatus" AS ENUM ('NOT_SCHEDULED', 'WAITING', 'ON_THE_WAY', 'IN_PROGRESS', 'IN_PROGRESS_SD', 'DONE', 'REFUSAL', 'CANCELLED_CC');

-- CreateEnum
CREATE TYPE "ClaimType" AS ENUM ('POLICE', 'MASTER_BROKE', 'PRICE_DISSATISFIED');

-- CreateEnum
CREATE TYPE "DocKind" AS ENUM ('RECEIPT_SERVICE', 'RECEIPT_PARTS', 'CONTRACT', 'PARTS_PHOTO', 'RECEIPT_SD', 'AD_SCREEN', 'CASH_DOC', 'OTHER');

-- CreateEnum
CREATE TYPE "CashDirection" AS ENUM ('INCOME', 'EXPENSE', 'COLLECTION');

-- CreateEnum
CREATE TYPE "CashIncomeBasis" AS ENUM ('ORDER', 'EXTRA_FUNDING', 'FINE', 'OTHER');

-- CreateEnum
CREATE TYPE "CashExpenseBasis" AS ENUM ('RENT_APT', 'RENT_OFFICE', 'CARDS', 'SALARY_DIR', 'SALARY_DISP', 'SALARY_SENIOR_MASTER', 'SALARY_PROMO', 'TRIP', 'COLLECTION_FEE', 'CONTEST', 'LEAFLETS', 'SELF_EMPLOYED_TAX', 'HIRE_ADS', 'AVITO_ADS', 'OFFICE', 'BONUS', 'OTHER_EXPENSE', 'IP_EXPENSE', 'OPERATING');

-- CreateEnum
CREATE TYPE "AssetStatus" AS ENUM ('ACTIVE', 'WRITTEN_OFF');

-- CreateEnum
CREATE TYPE "ChatChannel" AS ENUM ('TELEGRAM', 'MAX', 'WEB');

-- CreateEnum
CREATE TYPE "ChatStatus" AS ENUM ('OPEN', 'CLOSED');

-- CreateTable
CREATE TABLE "cities" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "cities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "partners" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "partners_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "age_categories" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "sort" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "age_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "salary_categories" (
    "id" TEXT NOT NULL,
    "min_sum" DECIMAL(12,2) NOT NULL,
    "max_sum" DECIMAL(12,2),
    "percent" DECIMAL(5,4) NOT NULL,
    "note" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "salary_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "login" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "full_name" TEXT NOT NULL,
    "role" "Role" NOT NULL,
    "status" "UserStatus" NOT NULL DEFAULT 'ACTIVE',
    "phone" TEXT,
    "telegram_id" TEXT,
    "city_id" TEXT,
    "hired_at" TIMESTAMP(3),
    "fired_at" TIMESTAMP(3),
    "fire_reason" TEXT,
    "recommended_hire" BOOLEAN,
    "passport_number" TEXT,
    "passport_enc" TEXT,
    "contract_photo_path" TEXT,
    "employee_photo_path" TEXT,
    "passport_photo_path" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "masters" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "status" "UserStatus" NOT NULL DEFAULT 'ACTIVE',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "masters_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "clients" (
    "id" TEXT NOT NULL,
    "phone_normalized" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "age_category_id" TEXT,
    "city_id" TEXT,
    "branch_comment" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "clients_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "orders" (
    "id" TEXT NOT NULL,
    "public_id" TEXT NOT NULL,
    "seq_prefix" TEXT NOT NULL,
    "seq" INTEGER NOT NULL,
    "client_id" TEXT NOT NULL,
    "type" "OrderType" NOT NULL DEFAULT 'NEW',
    "source_kind" "SourceKind" NOT NULL,
    "source_our" "SourceOur",
    "partner_id" TEXT,
    "scheduled_at" TIMESTAMP(3),
    "address" TEXT NOT NULL,
    "age_category_id" TEXT,
    "comment" TEXT,
    "master_id" TEXT,
    "status" "OrderStatus" NOT NULL DEFAULT 'WAITING',
    "is_claim" BOOLEAN NOT NULL DEFAULT false,
    "is_warranty" BOOLEAN NOT NULL DEFAULT false,
    "is_repeat" BOOLEAN NOT NULL DEFAULT false,
    "is_profile" BOOLEAN NOT NULL DEFAULT true,
    "type_tech" TEXT,
    "branch_comment" TEXT,
    "city_id" TEXT,
    "created_by_id" TEXT,
    "cancel_fault" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "order_payments" (
    "id" TEXT NOT NULL,
    "order_id" TEXT NOT NULL,
    "paid" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "prepay" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "parts_cost" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "parts_yes_no" BOOLEAN NOT NULL DEFAULT false,
    "work_sum" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "master_percent" DECIMAL(5,4) NOT NULL DEFAULT 0,
    "master_salary" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "to_company" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "order_payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "order_documents" (
    "id" TEXT NOT NULL,
    "order_id" TEXT NOT NULL,
    "kind" "DocKind" NOT NULL DEFAULT 'OTHER',
    "file_name" TEXT NOT NULL,
    "file_path" TEXT NOT NULL,
    "mime_type" TEXT,
    "size_bytes" INTEGER,
    "uploaded_by" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "order_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "claims" (
    "id" TEXT NOT NULL,
    "order_id" TEXT NOT NULL,
    "type" "ClaimType" NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "closed_at" TIMESTAMP(3),
    "refund_sum" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "order_sum" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "city_id" TEXT,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "claims_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cash_tx" (
    "id" TEXT NOT NULL,
    "direction" "CashDirection" NOT NULL,
    "amount" DECIMAL(12,2) NOT NULL,
    "income_basis" "CashIncomeBasis",
    "expense_basis" "CashExpenseBasis",
    "expense_subtype" TEXT,
    "description" TEXT,
    "city_id" TEXT,
    "order_id" TEXT,
    "document_path" TEXT,
    "created_by_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cash_tx_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "master_settlements" (
    "id" TEXT NOT NULL,
    "master_id" TEXT NOT NULL,
    "amount" DECIMAL(12,2) NOT NULL,
    "period_from" TIMESTAMP(3) NOT NULL,
    "period_to" TIMESTAMP(3) NOT NULL,
    "confirmed_once" BOOLEAN NOT NULL DEFAULT false,
    "confirmed_twice" BOOLEAN NOT NULL DEFAULT false,
    "confirmed_by_id" TEXT,
    "confirmed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "master_settlements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dispatcher_pay_settings" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "salary_base" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "daily_turnover_pct" DECIMAL(5,4) NOT NULL DEFAULT 0,
    "leaflet_bonus" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "closed_orders_bonus_pct" DECIMAL(5,4) NOT NULL DEFAULT 0,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "dispatcher_pay_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ad_daily_reports" (
    "id" TEXT NOT NULL,
    "report_date" DATE NOT NULL,
    "city_id" TEXT,
    "promoters_count" INTEGER NOT NULL DEFAULT 0,
    "leaflets_issued" INTEGER NOT NULL DEFAULT 0,
    "leaflets_spread" INTEGER NOT NULL DEFAULT 0,
    "cards_issued" INTEGER NOT NULL DEFAULT 0,
    "cards_spread" INTEGER NOT NULL DEFAULT 0,
    "stickers_issued" INTEGER NOT NULL DEFAULT 0,
    "stickers_spread" INTEGER NOT NULL DEFAULT 0,
    "avito_ads_count" INTEGER NOT NULL DEFAULT 0,
    "leaflets_stock" INTEGER NOT NULL DEFAULT 0,
    "cards_stock" INTEGER NOT NULL DEFAULT 0,
    "document_path" TEXT,
    "created_by_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ad_daily_reports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "assets" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "condition" TEXT,
    "city_id" TEXT,
    "status" "AssetStatus" NOT NULL DEFAULT 'ACTIVE',
    "written_off_at" TIMESTAMP(3),
    "write_off_note" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "assets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chat_threads" (
    "id" TEXT NOT NULL,
    "channel" "ChatChannel" NOT NULL DEFAULT 'TELEGRAM',
    "external_id" TEXT,
    "title" TEXT,
    "status" "ChatStatus" NOT NULL DEFAULT 'OPEN',
    "city_id" TEXT,
    "linked_order_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "chat_threads_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chat_messages" (
    "id" TEXT NOT NULL,
    "thread_id" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "from_client" BOOLEAN NOT NULL DEFAULT true,
    "author_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "chat_messages_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "cities_code_key" ON "cities"("code");

-- CreateIndex
CREATE UNIQUE INDEX "partners_name_key" ON "partners"("name");

-- CreateIndex
CREATE UNIQUE INDEX "age_categories_code_key" ON "age_categories"("code");

-- CreateIndex
CREATE UNIQUE INDEX "users_login_key" ON "users"("login");

-- CreateIndex
CREATE UNIQUE INDEX "masters_user_id_key" ON "masters"("user_id");

-- CreateIndex
CREATE INDEX "clients_phone_normalized_idx" ON "clients"("phone_normalized");

-- CreateIndex
CREATE UNIQUE INDEX "clients_phone_normalized_name_key" ON "clients"("phone_normalized", "name");

-- CreateIndex
CREATE UNIQUE INDEX "orders_public_id_key" ON "orders"("public_id");

-- CreateIndex
CREATE INDEX "orders_status_idx" ON "orders"("status");

-- CreateIndex
CREATE INDEX "orders_created_at_idx" ON "orders"("created_at");

-- CreateIndex
CREATE UNIQUE INDEX "orders_seq_prefix_seq_key" ON "orders"("seq_prefix", "seq");

-- CreateIndex
CREATE UNIQUE INDEX "order_payments_order_id_key" ON "order_payments"("order_id");

-- CreateIndex
CREATE INDEX "order_documents_order_id_idx" ON "order_documents"("order_id");

-- CreateIndex
CREATE INDEX "claims_order_id_idx" ON "claims"("order_id");

-- CreateIndex
CREATE INDEX "cash_tx_created_at_idx" ON "cash_tx"("created_at");

-- CreateIndex
CREATE INDEX "cash_tx_direction_idx" ON "cash_tx"("direction");

-- CreateIndex
CREATE UNIQUE INDEX "dispatcher_pay_settings_user_id_key" ON "dispatcher_pay_settings"("user_id");

-- CreateIndex
CREATE INDEX "ad_daily_reports_report_date_idx" ON "ad_daily_reports"("report_date");

-- CreateIndex
CREATE INDEX "chat_threads_status_idx" ON "chat_threads"("status");

-- CreateIndex
CREATE INDEX "chat_messages_thread_id_created_at_idx" ON "chat_messages"("thread_id", "created_at");

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_city_id_fkey" FOREIGN KEY ("city_id") REFERENCES "cities"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "masters" ADD CONSTRAINT "masters_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "clients" ADD CONSTRAINT "clients_age_category_id_fkey" FOREIGN KEY ("age_category_id") REFERENCES "age_categories"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "clients" ADD CONSTRAINT "clients_city_id_fkey" FOREIGN KEY ("city_id") REFERENCES "cities"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_partner_id_fkey" FOREIGN KEY ("partner_id") REFERENCES "partners"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_age_category_id_fkey" FOREIGN KEY ("age_category_id") REFERENCES "age_categories"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_master_id_fkey" FOREIGN KEY ("master_id") REFERENCES "masters"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_city_id_fkey" FOREIGN KEY ("city_id") REFERENCES "cities"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_created_by_id_fkey" FOREIGN KEY ("created_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "order_payments" ADD CONSTRAINT "order_payments_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "order_documents" ADD CONSTRAINT "order_documents_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "claims" ADD CONSTRAINT "claims_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "claims" ADD CONSTRAINT "claims_city_id_fkey" FOREIGN KEY ("city_id") REFERENCES "cities"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_tx" ADD CONSTRAINT "cash_tx_city_id_fkey" FOREIGN KEY ("city_id") REFERENCES "cities"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_tx" ADD CONSTRAINT "cash_tx_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "orders"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_tx" ADD CONSTRAINT "cash_tx_created_by_id_fkey" FOREIGN KEY ("created_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "master_settlements" ADD CONSTRAINT "master_settlements_master_id_fkey" FOREIGN KEY ("master_id") REFERENCES "masters"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "master_settlements" ADD CONSTRAINT "master_settlements_confirmed_by_id_fkey" FOREIGN KEY ("confirmed_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "dispatcher_pay_settings" ADD CONSTRAINT "dispatcher_pay_settings_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ad_daily_reports" ADD CONSTRAINT "ad_daily_reports_city_id_fkey" FOREIGN KEY ("city_id") REFERENCES "cities"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ad_daily_reports" ADD CONSTRAINT "ad_daily_reports_created_by_id_fkey" FOREIGN KEY ("created_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "assets" ADD CONSTRAINT "assets_city_id_fkey" FOREIGN KEY ("city_id") REFERENCES "cities"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chat_threads" ADD CONSTRAINT "chat_threads_city_id_fkey" FOREIGN KEY ("city_id") REFERENCES "cities"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chat_threads" ADD CONSTRAINT "chat_threads_linked_order_id_fkey" FOREIGN KEY ("linked_order_id") REFERENCES "orders"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chat_messages" ADD CONSTRAINT "chat_messages_thread_id_fkey" FOREIGN KEY ("thread_id") REFERENCES "chat_threads"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chat_messages" ADD CONSTRAINT "chat_messages_author_id_fkey" FOREIGN KEY ("author_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

